* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ccc;
  position: relative;
  height: 90vh;
}

.selections {
  height: 60px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  background: #333;
  /* margin: 2px 70px; */
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 20%;
  opacity: 1;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  transition: 100ms;
}

.selection:hover {
  transform: scale(1.2);
}

.results {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  user-select: none;
}

.display {
  max-height: 75%;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.display::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.result-score {
  margin-left: 0.1rem;
  font-size: 1.5rem;
  color: #403c3c;
  user-select: none;
}

.result-selection {
  opacity: 0.5;
  user-select: none;
}

.result-selection.winner {
  opacity: 1;
  font-size: 1.5rem;
}
img {
  height: 30px;
  margin: 0;
}
